body {
  font-size: 15px;
  line-height: 1.5;
  font-family: Roboto, sans-serif;
  text-rendering: optimizeLegibility;
}

.v-separator {
  max-height: 100%;
  width: 1px;
  background: gainsboro;
  display: block;
  min-height: 35px;
}

.head-message-container {
  background-color: #292929;
  width: 100%;
  min-height: 40px;
  max-height: auto;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.head-message-container p.head-message {
  color: #f26522;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  max-width: 100%;
}

img.head-logo {
  width: 75%;
}

header.header .input-group {
  width: 70%;
  margin: 0 auto;
}

.customer-services img.customer-services-icon {
  margin-left: 20px;
  width: 15%;
  float: left;
  display: inline-block;
}
.customer-services span,
.customer-services h3 {
  display: inline-block;
  float: right;
}

/**
*
* Testing
*
**/
@media (max-width: 320px) {
  .include-media-test {
    background-color: #def;
  }
  .include-media-test:before {
    content: "<=phone";
  }
}
@media (min-width: 321px) {
  .include-media-test {
    background-color: #abc;
  }
  .include-media-test:before {
    content: ">phone";
  }
}
@media (min-width: 815px) and (max-width: 1023px) {
  .include-media-test {
    background-color: #fed;
  }
  .include-media-test:before {
    content: ">=815px, <desktop";
  }
}
@media (min-width: 1024px) {
  .include-media-test {
    background-color: #fab;
  }
  .include-media-test:before {
    content: ">=desktop";
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .include-media-test:after {
    content: "Retina" !important;
  }
}

.main-nav li.nav-item {
  display: inline-block;
  position: relative;
  padding: 0px 0px 11px;
  margin: 0px 0px -11px;
}
.main-nav li.nav-item:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0px;
  border-bottom: 3px solid #f26522;
  bottom: 0px;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.3s ease-in;
}
.main-nav li.nav-item:hover:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.main-nav li.nav-item:active, .main-nav li.nav-item.active {
  border-width: 3px;
  border-bottom-color: #f26522;
  border-bottom-style: solid;
  margin-bottom: -11px;
}
.main-nav .top-level.nav-item a.nav-link,
.main-nav .nav-item .nav-home-link {
  font-size: 1.2rem;
  height: 30px;
  color: #292929;
  font-weight: 500;
  margin-bottom: 0px;
  border: 2px solid transparent;
  /* 		@include media(">phone") {
  			font-size: 0.8rem;
  			height: 15px;
  		}
  		@include media(">=desktop") {
  			
  		} */
}
.main-nav .top-level.nav-item a.nav-link.nav-home-link,
.main-nav .nav-item .nav-home-link.nav-home-link {
  font-size: 1.6rem;
  height: 30px;
  width: 25px;
  padding-left: 0px;
  display: inline;
  position: absolute;
  top: 3px;
  left: -31px;
  transition: 0.3s;
  /* 			@include media(">phone") {
  				font-size: 1.1rem;
  				height: 15px;
  			}
  			@include media(">=desktop") {
  				font-size: 1.6rem;
  				height: 30px;
  			} */
}
.main-nav .top-level.nav-item a.nav-link.nav-home-link:hover,
.main-nav .nav-item .nav-home-link.nav-home-link:hover {
  color: #f26522;
}
.main-nav ul.navbar-nav .dropdown-menu {
  border-radius: 0px;
  margin-top: 0px;
  border: 1px solid #292929;
  border-top: 0px;
  text-transform: uppercase;
}
.main-nav ul.navbar-nav .dropdown-menu a.dropdown-item:hover {
  background: #292929;
  color: #fff;
  font-weight: 700;
}

.form-control:focus {
  border-color: #f26522;
}

input.form-control {
  border-radius: 0px;
  font-size: 0.8em;
  color: #000;
}

footer.footer {
  width: 100%;
  border-top: 1px solid #c2c2c2;
  margin-top: 20px;
  padding: 20px 10px;
}

.xs-navbar {
  width: 100%;
  height: 65px;
  margin: 0;
  /* li {
    background: url(data:image/gif;base64,R0lGODlhEAAQAMQAAORHHOVSKudfOulrSOp3WOyDZu6QdvCchPGolfO0o/XBs/fNwfjZ0frl3/zy7////wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAkAABAALAAAAAAQABAAAAVVICSOZGlCQAosJ6mu7fiyZeKqNKToQGDsM8hBADgUXoGAiqhSvp5QAnQKGIgUhwFUYLCVDFCrKUE1lBavAViFIDlTImbKC5Gm2hB0SlBCBMQiB0UjIQA7)
      no-repeat
      left center;
    padding: 5px 0 5px 25px;
  } */
}
.xs-navbar .toggle-button-container {
  padding: 0;
  display: flex;
  align-items: center;
  align-content: center;
}
.xs-navbar .toggle-button-container .toggle-button {
  width: 65px;
  height: 65px;
  padding: 0;
  margin: 0;
}
.xs-navbar .xs-head-navbar-logo-container {
  display: flex;
  align-items: center;
  align-content: center;
}
.xs-navbar .xs-head-navbar-logo-container .xs-head-navbar-logo {
  padding: 0 10px;
}
.xs-navbar .mini-cart-container {
  display: flex;
  align-items: center;
  align-content: center;
  padding-right: 10px;
}
.xs-navbar .mini-cart-container .fa {
  font-size: 18px;
  position: absolute;
  top: 43%;
  left: 39%;
  color: #f26522;
}

.xs-nav-container {
  margin: 0;
}
.xs-nav-container .xs-nav-logo-container {
  height: 67px;
  width: 100%;
  background: #fff;
  padding: 10px;
  margin-top: 0px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-content: center;
  align-items: center;
}
.xs-nav-container .xs-nav-logo-container .xs-nav-logo {
  width: 90%;
  display: block;
  margin: 0 auto;
}
.xs-nav-container .xs-nav {
  margin: 0;
  padding: 0;
}
.xs-nav-container .xs-nav .xs-nav-item {
  height: 60px;
  width: 100%;
  font-size: 18px;
  display: flex;
  align-content: center;
  align-items: center;
  padding-left: 10px;
  border-bottom: 1px solid #c2c2c2;
  transition: .2s;
}
.xs-nav-container .xs-nav .xs-nav-item.submenu-item {
  font-size: 14px;
  margin-left: 10px;
}
.xs-nav-container .xs-nav .xs-nav-item:hover {
  background: #f26522;
}
.xs-nav-container .xs-nav .xs-nav-link {
  text-transform: uppercase;
  color: #292929;
  font-weight: 700;
  width: 100%;
  text-align: left;
}
.xs-nav-container .xs-nav .xs-nav-link:hover {
  color: #fff;
  text-decoration: none;
}

#main {
  z-index: 3;
  background: #fff;
}

.slideout-menu {
  backface-visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display: none;
  background-color: #fff;
  /* background-color: $defaultblack; */
  transition: transform 300ms ease;
  /* border-right: 1px solid #ccc; */
  -webkit-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
}

.slideout-open #main {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  -webkit-box-shadow: inset 1px -10px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 1px -10px 10px 0px rgba(0, 0, 0, 0.75);
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
  transform: translate3d(0px, 0px, 0px);
}

.btn {
  border-radius: 0px;
}
.btn-primary {
  background: #f26522;
  border: #f26522;
  text-transform: uppercase;
}
.btn-primary:hover {
  background: #bc440b;
}
.btn-primary:active, .btn-primary:focus {
  color: #fff;
  border-color: #bc440b;
  webkit-box-shadow: 0 0 0 2px rgba(242, 101, 34, 0.5);
  box-shadow: 0 0 0 2px rgba(242, 101, 34, 0.5);
}
.btn-search:hover {
  background-color: #292929;
  border-color: #292929;
  color: #fff;
}
.btn-search:active, .btn-search:focus {
  background-color: #292929;
  border-color: #292929;
  color: #fff;
}
.btn-outline-primary {
  border-color: #f26522;
  color: #f26522;
  text-transform: uppercase;
}
.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:focus {
  background: #bc440b;
  border-color: #f26522;
  color: #fff;
  webkit-box-shadow: 0 0 0 2px rgba(242, 101, 34, 0.5);
  box-shadow: 0 0 0 2px rgba(242, 101, 34, 0.5);
}
.btn-outline-secondary {
  border-color: #292929;
  color: #292929;
  text-transform: uppercase;
}
.btn-outline-secondary:hover, .btn-outline-secondary:active, .btn-outline-secondary:focus {
  background: #292929;
  border-color: #292929;
  color: #fff;
  webkit-box-shadow: none;
  box-shadow: none;
}

header.header {
  border-bottom: 3px solid #292929;
  margin-top: 35px;
}
header.header a:hover,
header.header a:active,
header.header a:focus {
  text-decoration: none;
}
header.header .sales-number {
  color: #f26522;
}

.main-content .board-tabs {
  border: 1px solid #f26522;
  margin-top: 20px;
}
.main-content .board-tabs .nav-link {
  border-radius: 0;
  color: #292929;
  font-weight: 600;
  transition: .2s;
}
.main-content .board-tabs .nav-link.active, .main-content .board-tabs .nav-link:hover {
  background-color: #f26522;
  color: #fff;
}
.main-content .board-tabs .nav-item .center-link {
  border-left: 1px solid #f26522;
  border-right: 1px solid #f26522;
}

.nav-link {
  text-transform: uppercase;
}

.main-content {
  margin-top: 20px;
}

.usp-section {
  align-content: center;
  align-items: center;
  display: flex;
  height: 150px;
  margin-top: 20px;
}
.usp-section i.fa {
  color: #000;
  font-size: 52px;
}
.usp-section h3.usp-header {
  font-size: 18px;
  color: #000;
  text-transform: uppercase;
}
.usp-section a.usp-link {
  text-transform: uppercase;
  color: #f26522;
}
.usp-section a.usp-link:hover {
  text-decoration: none;
}

h3.section-header {
  font-size: 18px;
  position: relative;
  overflow: hidden;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
h3.section-header span {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  position: relative;
  padding: 0 20px;
}
h3.section-header span:before, h3.section-header span:after {
  content: '';
  display: block;
  width: 305%;
  position: absolute;
  top: 50%;
  border-top: 2px solid #ccc;
}
h3.section-header span:before {
  right: 100%;
}
h3.section-header span:after {
  left: 100%;
}

img.product-collection-image {
  margin: 0 auto;
  display: block;
}

span.product-title-container {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;
  max-height: 35px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
span.product-title-container a.product-title h2 {
  color: #292929;
  font-size: 15px;
  text-align: center;
  margin-bottom: 15px;
}

span.price {
  float: right;
}

span.current-price {
  color: #f26522;
  font-size: 20px;
}
span.old-price {
  text-decoration: line-through;
  font-size: 16px;
  color: #000;
}

.sales-banners-section {
  margin-top: 20px;
}

.tab-content.product-ranges {
  height: 500px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  align-content: center;
  padding: 0;
}
.tab-content.product-ranges .product-range-details {
  height: 400px;
  display: flex;
  align-content: center;
  align-items: center;
}
.tab-content.product-ranges .product-range-details .product-range-header {
  font-size: 1.9rem;
  text-align: center;
  text-transform: uppercase;
}
.tab-content.product-ranges .product-range-details .product-range-description {
  font-size: 0.8rem;
  text-align: center;
}
.tab-content.product-ranges .product-range-details .product-range-price {
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  display: block;
}
.tab-content.product-ranges .product-range-details .product-range-btns {
  margin-top: 20px;
}
.tab-content.product-ranges ul.nav-tabs.product-range-gallery {
  border-bottom: 0px;
  display: flex;
  align-content: center;
  align-items: center;
}
.tab-content.product-ranges ul.nav-tabs.product-range-gallery .nav-item {
  margin: 0 auto -1px auto;
}
.tab-content.product-ranges ul.nav-tabs.product-range-gallery .nav-item .nav-link {
  border: 1px solid gainsboro;
  border-radius: 0;
  max-width: 60px;
  height: 60px;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin: 0 5px;
  opacity: 0.6;
  transition: 0.4s;
}
.tab-content.product-ranges ul.nav-tabs.product-range-gallery .nav-item .nav-link.active {
  border: 1px solid #292929;
  opacity: 1;
}
.tab-content.product-ranges ul.nav-tabs.product-range-gallery .nav-item .nav-link img {
  height: 60px;
  width: 60px;
  margin: 0 auto;
  display: block;
}
.tab-content.product-ranges ul.nav-tabs.product-range-gallery .nav-item .nav-link:hover {
  border: 1px solid #292929;
  opacity: 1;
}

img.brand_logo {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
img.brand_logo:hover {
  -webkit-filter: none;
  filter: none;
  opacity: 1;
}

.reviews-section {
  min-height: 360px;
  max-height: auto;
  background-image: url("../assets/review-bg.jpg");
  background-color: #292929;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}
.reviews-section .reviews-container {
  height: 50%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.reviews-section h3.reviews-header {
  height: 110px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.reviews-section p.user-review {
  font-size: 0.8rem;
  text-align: center;
  font-style: italic;
  color: #ccc;
}
.reviews-section .reviews-summary {
  padding: 10px;
  border-radius: 5px;
  background: #12CF6C;
  width: 70%;
  margin: 0 auto;
  color: #1E1E1E;
  font-weight: 500;
}
.reviews-section .reviews-summary .fa {
  color: white;
  background: url("../assets/review-bg.jpg") no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 23px;
  margin-bottom: 10px;
}
.reviews-section .reviews-summary span {
  display: block;
  text-align: center;
}
.reviews-section img {
  display: block;
  margin: 0 auto;
  width: 70%;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}

.hamburger-box {
  width: 30px;
  height: 18px;
  display: inline-block;
  /* position: relative; */
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
  height: 2px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -8px;
}
.hamburger-inner::after {
  bottom: -8px;
}

.is-active .hamburger-inner::before, .is-active .hamburger-inner::after {
  width: 18px;
}

/* @import "types/3dx";
@import "types/3dx-r";
@import "types/3dy";
@import "types/3dy-r";
@import "types/arrow";
@import "types/arrow-r"; */
/*
 * Arrow Alt
 */
.hamburger--arrowalt .hamburger-inner::before {
  transition: top 0.1s 0.15s ease, transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.hamburger--arrowalt .hamburger-inner::after {
  transition: bottom 0.1s 0.15s ease, transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.hamburger--arrowalt.is-active .hamburger-inner::before {
  top: 4px;
  transform: translate3d(-6px, -7.5px, 0) rotate(-45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.hamburger--arrowalt.is-active .hamburger-inner::after {
  bottom: 4px;
  transform: translate3d(-6px, 7.5px, 0) rotate(45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

/* @import "types/arrowalt-r";
@import "types/boring";
@import "types/collapse";
@import "types/collapse-r";
@import "types/elastic";
@import "types/elastic-r";
@import "types/emphatic";
@import "types/emphatic-r";
@import "types/slider";
@import "types/slider-r";
@import "types/spring";
@import "types/spring-r";
@import "types/stand";
@import "types/stand-r";
@import "types/spin";
@import "types/spin-r";
@import "types/squeeze";
@import "types/vortex";
@import "types/vortex-r"; */

/*# sourceMappingURL=theme.css.map */
