		<div class="container">
			<div class="row">
				<div class="col-12 full-banner"> <img src="assets/full-banner.jpg" alt="" class="img-fluid"> </div>
			</div>
			<div class="row usp-section text-center">
				<div class="col"> <i class="fa fa-truck"></i>
					<h3 class="usp-header">Free UK Delivery</h3> <a class="usp-link" href="#">Learn More &gt;</a> </div>
				<div class="col"> <i class="fa fa-check"></i>
					<h3 class="usp-header">Reasons to Choose Us</h3> <a class="usp-link" href="#">Learn More &gt;</a> </div>
				<div class="col"> <i class="fa fa-shield"></i>
					<h3 class="usp-header">UK Based Company</h3> <a class="usp-link" href="#">Learn More &gt;</a> </div>
			</div>
			<div class="row product-collection-container">
				<h3 class="section-header"><span>Best Sellers</span></h3>
				<div class="col-12 col-md-3">
					<img class="img-fluid product-collection-image" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=250%C3%97250&w=250&h=250" alt="">
					<span class="product-title-container"><a class="product-title" href="#" title="Product Title">
						<h2 class="">Swegway Hoverkart Kit</h2>
					</a>
					</span>
					<span class="price">
						<span class="current-price">&pound;359.99</span> <span class="old-price">&pound;499.99</span>
					</span>
				</div>
				<div class="col-12 col-md-3">
					<img class="img-fluid product-collection-image" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=250%C3%97250&w=250&h=250" alt="">
					<span class="product-title-container"><a class="product-title" href="#" title="Product Title">
						<h2>Pokemon 6&rdquo; Swegway Hoverboard (Limited Edition)</h2>
					</a>
					</span>
					<span class="price">
						<span class="current-price">&pound;359.99</span> <span class="old-price">&pound;499.99</span>
					</span>
				</div>
				<div class="col-12 col-md-3">
					<img class="img-fluid product-collection-image" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=250%C3%97250&w=250&h=250" alt="">
					<span class="product-title-container"><a class="product-title" href="#" title="Product Title">
						<h2>Black 6&rdquo; Swegway HoverboardBlack 6&rdquo; Swegway HoverboardBlack 6&rdquo; Swegway HoverboardBlack 6&rdquo; Swegway HoverboardBlack 6&rdquo; Swegway Hoverboard</h2>
					</a>
					</span>
					<span class="price">
						<span class="current-price">&pound;359.99</span> <span class="old-price">&pound;499.99</span>
					</span>
				</div>
				<div class="col-12 col-md-3">
					<img class="img-fluid product-collection-image" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=250%C3%97250&w=250&h=250" alt="">
					<span class="product-title-container"><a class="product-title" href="#" title="Product Title">
						<h2>Pink 6&rdquo; Swegway Hoverboard</h2>
					</a>
					</span>
					<span class="price">
						<span class="current-price">&pound;499.99</span>
					</span>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row sales-banners-section">
				<div class="col-12 col-md-6">
					<img src="assets/accessories_banner.jpg" alt="" class="img-fluid">
				</div>
				<div class="col-12 col-md-6">
					<img src="assets/hoverkart_bundle.jpg" alt="" class="img-fluid">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col">
					<ul class="board-tabs nav nav-pills nav-justified">
						<li class="nav-item"><a class="nav-link active" href="#sixinch" data-toggle="tab">6 Inch Classics</a></li>
						<li class="nav-item"><a class="center-link nav-link" href="#eightinch" data-toggle="tab">8 Inch Bluetooth</a></li>
						<li class="nav-item"><a class="nav-link" href="#teninch" data-toggle="tab">10 Inch Range</a></li>
					</ul>
					<ul class="tab-content product-ranges">
						<li class="tab-pane active show fade" id="sixinch">
							<ul class="tab-content">
								<li class="tab-pane fade active show" id="product1">
									<div class="row product-range-details">
										<div class="col-12 col-md-6">
											<h2 class="product-range-header">Classic Range</h2>
											<p class="product-range-description">The Classic Swegway range &mdash; our most popular, agile and durable Swegway board. If you want a great new way to have fun and get about, you can't go wrong with a Classic Swegway. This amazing board is essential if you want a fantastic new way to get around and learn some great tricks. Available in Black, White, Blue, Red, Gold, Purple and Brown.</p>
											<span class="product-range-price">&pound;294.99</span>
											<div class="row product-range-btns">
												<div class="col col-md-6"><a href="#" class="btn btn-lg btn-primary btn-block">Buy Now</a></div>
												<div class="col col-md-6"><a href="#" class="btn btn-lg btn-outline-secondary btn-block">Find Out More</a></div>
											</div>
										</div>
										<div class="col-12 col-md-6">
											<img class="img-fluid" src="assets/blue_swegway_06d4b41f-df51-4949-b2dc-539c34676814_1024x1024.jpg">
										</div>
									</div>
								</li>
								<li class="tab-pane fade" id="product2">
								<div class="row product-range-details">
										<div class="col-12 col-md-6">
											<h2 class="product-range-header">Classic Range</h2>
											<p class="product-range-description">The Classic Swegway range &mdash; our most popular, agile and durable Swegway board. If you want a great new way to have fun and get about, you can't go wrong with a Classic Swegway. This amazing board is essential if you want a fantastic new way to get around and learn some great tricks. Available in Black, White, Blue, Red, Gold, Purple and Brown.</p> <span class="product-range-price">&pound;294.99</span>
											<div class="row product-range-btns">
												<div class="col col-md-6"><a href="#" class="btn btn-lg btn-primary btn-block">Buy Now</a></div>
												<div class="col col-md-6"><a href="#" class="btn btn-lg btn-outline-secondary btn-block">Find Out More</a></div>
											</div>
										</div>
										<div class="col-12 col-md-6">
											<img class="img-fluid" src="assets/brown_swegway_1024x1024.jpg">
										</div>
									</div>
								</li>
								<li class="tab-pane fade" id="product3">
									<div class="row product-range-details">
										<div class="col-12 col-md-6">
											<h2 class="product-range-header">Classic Range</h2>
											<p class="product-range-description">The Classic Swegway range &mdash; our most popular, agile and durable Swegway board. If you want a great new way to have fun and get about, you can't go wrong with a Classic Swegway. This amazing board is essential if you want a fantastic new way to get around and learn some great tricks. Available in Black, White, Blue, Red, Gold, Purple and Brown.</p> <span class="product-range-price">&pound;294.99</span>
											<div class="row product-range-btns">
												<div class="col col-md-6"><a href="#" class="btn btn-lg btn-primary btn-block">Buy Now</a></div>
												<div class="col col-md-6"><a href="#" class="btn btn-lg btn-outline-secondary btn-block">Find Out More</a></div>
											</div>
										</div>
										<div class="col-12 col-md-6">
											<img class="img-fluid" src="assets/pink_6_swegway_e27a884e-3584-469d-a86b-b50f82693a74_1024x1024.jpg">
										</div>
									</div>
								</li>
								<li class="tab-pane" id="product4">
									<div class="row product-range-details">
										<div class="col-12 col-md-6">
											<h2 class="product-range-header">Classic Range</h2>
											<p class="product-range-description">The Classic Swegway range &mdash; our most popular, agile and durable Swegway board. If you want a great new way to have fun and get about, you can't go wrong with a Classic Swegway. This amazing board is essential if you want a fantastic new way to get around and learn some great tricks. Available in Black, White, Blue, Red, Gold, Purple and Brown.</p> <span class="product-range-price">&pound;294.99</span>
											<div class="row product-range-btns">
												<div class="col col-md-6"><a href="#" class="btn btn-lg btn-primary btn-block">Buy Now</a></div>
												<div class="col col-md-6"><a href="#" class="btn btn-lg btn-outline-secondary btn-block">Find Out More</a></div>
											</div>
										</div>
										<div class="col-12 col-md-6">
											<img class="img-fluid" src="assets/purple_swegway_1024x1024.jpg">
										</div>
									</div>
								</li>
							</ul>
							<ul class="nav nav-tabs product-range-gallery">
								<li class="nav-item">
									<a class="nav-link active" href="#product1" data-toggle="tab"><img src="assets/blue_swegway_06d4b41f-df51-4949-b2dc-539c34676814_1024x1024.jpg"></a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#product2" data-toggle="tab"><img src="assets/brown_swegway_1024x1024.jpg"></a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#product3" data-toggle="tab"><img src="assets/pink_6_swegway_e27a884e-3584-469d-a86b-b50f82693a74_1024x1024.jpg"></a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#product4" data-toggle="tab"><img src="assets/purple_swegway_1024x1024.jpg"></a>
								</li>
							</ul>
						</li>
						<li class="tab-pane fade" id="eightinch">
														<ul class="tab-content">
								<li class="tab-pane active show" id="product5">
									<div class="row product-range-details">
										<div class="col-12 col-md-6">
											<h2 class="product-range-header">8 Inch Range</h2>
											<p class="product-range-description">The Classic Swegway range &mdash; our most popular, agile and durable Swegway board. If you want a great new way to have fun and get about, you can't go wrong with a Classic Swegway. This amazing board is essential if you want a fantastic new way to get around and learn some great tricks. Available in Black, White, Blue, Red, Gold, Purple and Brown.</p> <span class="product-range-price">&pound;294.99</span>
											<div class="row product-range-btns">
												<div class="col col-md-6"><a href="#" class="btn btn-lg btn-primary btn-block">Buy Now</a></div>
												<div class="col col-md-6"><a href="#" class="btn btn-lg btn-outline-secondary btn-block">Find Out More</a></div>
											</div>
										</div>
										<div class="col-12 col-md-6">
											<img class="img-fluid" src="assets/blue_swegway_06d4b41f-df51-4949-b2dc-539c34676814_1024x1024.jpg">
										</div>
									</div>
								</li>
								<li class="tab-pane" id="product6">
								<div class="row product-range-details">
										<div class="col-12 col-md-6">
											<h2 class="product-range-header">8 Inch Range</h2>
											<p class="product-range-description">The Classic Swegway range &mdash; our most popular, agile and durable Swegway board. If you want a great new way to have fun and get about, you can't go wrong with a Classic Swegway. This amazing board is essential if you want a fantastic new way to get around and learn some great tricks. Available in Black, White, Blue, Red, Gold, Purple and Brown.</p> <span class="product-range-price">&pound;294.99</span>
											<div class="row product-range-btns">
												<div class="col col-md-6"><a href="#" class="btn btn-lg btn-primary btn-block">Buy Now</a></div>
												<div class="col col-md-6"><a href="#" class="btn btn-lg btn-outline-secondary btn-block">Find Out More</a></div>
											</div>
										</div>
										<div class="col-12 col-md-6">
											<img class="img-fluid" src="assets/brown_swegway_1024x1024.jpg">
										</div>
									</div>
								</li>
								<li class="tab-pane" id="product7">
									<div class="row product-range-details">
										<div class="col-12 col-md-6">
											<h2 class="product-range-header">8 Inch Range</h2>
											<p class="product-range-description">The Classic Swegway range &mdash; our most popular, agile and durable Swegway board. If you want a great new way to have fun and get about, you can't go wrong with a Classic Swegway. This amazing board is essential if you want a fantastic new way to get around and learn some great tricks. Available in Black, White, Blue, Red, Gold, Purple and Brown.</p> <span class="product-range-price">&pound;294.99</span>
											<div class="row product-range-btns">
												<div class="col col-md-6"><a href="#" class="btn btn-lg btn-primary btn-block">Buy Now</a></div>
												<div class="col col-md-6"><a href="#" class="btn btn-lg btn-outline-secondary btn-block">Find Out More</a></div>
											</div>
										</div>
										<div class="col-12 col-md-6">
											<img class="img-fluid" src="assets/pink_6_swegway_e27a884e-3584-469d-a86b-b50f82693a74_1024x1024.jpg">
										</div>
									</div>
								</li>
								<li class="tab-pane" id="product8">
									<div class="row product-range-details">
										<div class="col-12 col-md-6">
											<h2 class="product-range-header">8 Inch Range</h2>
											<p class="product-range-description">The Classic Swegway range &mdash; our most popular, agile and durable Swegway board. If you want a great new way to have fun and get about, you can't go wrong with a Classic Swegway. This amazing board is essential if you want a fantastic new way to get around and learn some great tricks. Available in Black, White, Blue, Red, Gold, Purple and Brown.</p> <span class="product-range-price">&pound;294.99</span>
											<div class="row product-range-btns">
												<div class="col col-md-6"><a href="#" class="btn btn-lg btn-primary btn-block">Buy Now</a></div>
												<div class="col col-md-6"><a href="#" class="btn btn-lg btn-outline-secondary btn-block">Find Out More</a></div>
											</div>
										</div>
										<div class="col-12 col-md-6">
											<img class="img-fluid" src="assets/purple_swegway_1024x1024.jpg">
										</div>
									</div>
								</li>
							</ul>
							<ul class="nav nav-tabs product-range-gallery">
								<li class="nav-item">
									<a class="nav-link active" href="#product5" data-toggle="tab"><img src="assets/blue_swegway_06d4b41f-df51-4949-b2dc-539c34676814_1024x1024.jpg"></a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#product6" data-toggle="tab"><img src="assets/brown_swegway_1024x1024.jpg"></a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#product7" data-toggle="tab"><img src="assets/pink_6_swegway_e27a884e-3584-469d-a86b-b50f82693a74_1024x1024.jpg"></a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#product8" data-toggle="tab"><img src="assets/purple_swegway_1024x1024.jpg"></a>
								</li>
							</ul>
						</li>
						<li class="tab-pane fade" id="teninch"> Ten Inches </li>
					</ul>
				</div>
			</div>
		</div>
		<hr>
		<div class="container hidden-sm-down">
			<div class="row">
				<div class="col-md-2">
					<img class="brand_logo" src="assets/brands/DailyMail-logo.svg" alt="Daily Mail">
				</div>
				<div class="col-md-2">
					<img class="brand_logo" src="assets/brands/BBC-logo.svg" alt="BBC">
				</div>
				<div class="col-md-2">
					<img class="brand_logo" src="assets/brands/Cosmo-logo.svg" alt="Cosmopolitan">
				</div>
				<div class="col-md-2">
					<img class="brand_logo" src="assets/brands/TechDigest-logo.svg" alt="Tech Digest">
				</div>
				<div class="col-md-2">
					<img class="brand_logo" src="assets/brands/ITV-logo.svg" alt="ITV">
				</div>
				<div class="col-md-2">
					<img class="brand_logo" src="assets/brands/DailyExpress-logo.svg" alt="Daily Express">
				</div>
			</div>
		</div>
<div class="container">
	<div class="row reviews-section">
		<div class="col-md-12">
			<h3 class="reviews-header text-uppercase text-center">Customer Reviews</h3>
			<div class="row reviews-container">
				<div class="col-sm-12 col-md-3">
					<div class="reviews-summary">
						<div class="row">
							<div class="col-sm-12 text-center">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-half-o"></i>
								<i class="fa fa-star-o"></i>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<span>3.80 Average</span>
								<span>446 Reviews</span>
							</div>
						</div>
					</div>
					<div class="row">
							<div class="col-sm-12">
								<img src="assets/reviews-logo--white.svg" alt="" class="img-fluid">
							</div>
						</div>
				</div>
				<div class="col-sm-12 col-md-3">
					<p class="user-review">
						&ldquo;Fantastic. We bought from their store. Had great fun trying out the Swegway and the new one wheel model although it was difficult to master! Walked away with the 8&rdquo; wheels bluetooth model and my son was delighted.&rdquo;
					</p>
				</div>
				<div class="col-sm-12 col-md-3">
					<p class="user-review">
						&ldquo;Fantastic. We bought from their store. Had great fun trying out the Swegway and the new one wheel model although it was difficult to master! Walked away with the 8&rdquo; wheels bluetooth model and my son was delighted.&rdquo;
					</p>
				</div>
				<div class="col-sm-12 col-md-3">
					<p class="user-review">
						&ldquo;Fantastic. We bought from their store. Had great fun trying out the Swegway and the new one wheel model although it was difficult to master! Walked away with the 8&rdquo; wheels bluetooth model and my son was delighted.&rdquo;
					</p>
				</div>
			</div>
		</div>
	</div>
</div>